.App {
  display: flex;
  text-align: center;
}

.Page {
  border: 5px solid yellowgreen;
  width: 50vw;
  padding: 10px;
}

.Input {
  flex-direction: row-reverse;
}

/*.Gauche {
}*/

/*.Droite {
}*/
