.App {
  display: flex;
  text-align: center;
  height: 100vh;
}

.Page {
  border: 5px solid yellowgreen;
  width: 50vw;
  padding: 10px;
}

.Gauche {
  overflow: scroll;
}

.Droite {
  background-image: url("/img/fond_fête.jpg");
}

.Invisible {
  display: none;
}

.Visible {
  display: initial;
}

.CakeLoïc {
  margin-top: 25vh;
}

.Yellowgreen {
  color: yellowgreen;
}

h2 {
  background-color: #b0154b;
  padding: 5px;
}
